<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div id="header">
                <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
                {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
            </div>

            <div class="module module-nav">
                <ul class="unstyled">
                    <li><a href="http://github.com/{{ site.github }}">Github</a></li>
                    <li><a href="{{ get_url() }}">Blog</a></li>
                    <li><a href="{{ get_url('archives/') }}">Archives</a></li>
                    <li><a href="{{ get_url('feed.xml') }}">Feed</a></li>
                </ul>
            </div>

            <div class="module">
                <p>{{ site.description }}</p>
                <p><code>&nbsp;</code></p>
            </div>

            <div id="footer">
                <p style="text-align:center"><a href="http://python.org"><img src="{{ get_asset('images/social/python-icon.png') }}" width="32" height="32" alt="Python"></a></p>
                <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
            </div>
        </div>

        {% block breadcrumbs %}{% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
