<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    {% include 'page.navmenu.html' %}


    <!-- start: 1st Page - Home -->
    <div id="home">

        <div class="demo-1">

            <div id="slider" class="sl-slider-wrapper">

                <div class="sl-slider">

                    <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="deco"><center><p>&nbsp;</p><p>&nbsp;</p><img src="{{ get_asset('images/logo.png') }}"></center></div>
                            <h2>Dreams of Py</h2>
                            <blockquote><p>We are a group of python developers working on open source projects.</p><cite>&nbsp;</cite></blockquote>
                        </div>
                    </div>

                    <!-- <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="q"></div>
                            <h2>Regula aurea</h2>
                            <blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>
                        </div>
                    </div>

                    <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="O"></div>
                            <h2>Dum spiro, spero</h2>
                            <blockquote><p>Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.</p><cite>Dame Jane Morris Goodall</cite></blockquote>
                        </div>
                    </div>

                    <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="I"></div>
                            <h2>Donna nobis pacem</h2>
                            <blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
                        </div>
                    </div>

                    <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                        <div class="sl-slide-inner">
                            <div class="deco" data-icon="t"></div>
                            <h2>Acta Non Verba</h2>
                            <blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite></blockquote>
                        </div>
                    </div> -->
                </div><!-- /sl-slider -->

<!--                 <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>

                <nav id="nav-dots" class="nav-dots">
                    <span class="nav-dot-current"></span>
                    <span></span>
                </nav> -->

            </div><!-- /slider-wrapper -->

        </div>

    </div>
    <!-- end: 1st Page - Home -->

    <!-- start: 2nd Page - Services -->
    <div id="services" class="color black">

        <!--start: Container -->
        <div class="container">

            <!--start: Wrapper -->
            <div class="wrapper span12">

                            <!-- start: Page Title -->
            <div id="page-title">

                <div id="page-title-inner">

                    <h2><span>Mission</span></h2>

                </div>

            </div>
            <!-- end: Page Title -->

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span12">

                    <p>
                        We are a group of python developers working on open source projects. We believe in creating applications with several values in mind:
                    </p>

                </div>

            </div>
            <!-- end: Row -->

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span6">

                    <p>
                        &nbsp;
                    </p>

                </div>

                <div class="span6">

                    <p>
                        &nbsp;
                    </p>

                </div>

            </div>
            <!-- end: Row -->

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span4">
                    <div class="icons-box">
                        <i class="fa-icon-beaker"></i>
                        <h3>Empirical</h3>
                        <p>
                            &nbsp;
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box">
                        <i class="fa-icon-thumbs-up"></i>
                        <h3>User Friendly</h3>
                        <p>
                            &nbsp;
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box">
                        <i class="fa-icon-heart-empty"></i>
                        <h3>Socially Good</h3>
                        <p>
                            &nbsp;
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!-- end: Row -->

            <div class="clearfix"></div>
            <hr class="clean">
            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>
    <!-- end: 2nd Page - Services -->



    <!-- start: 4th Page - Portfolio -->
    <div id="portfolio" class="color white">

        <!--start: Container -->
        <div class="container">

            <!--start: Wrapper -->
            <div class="wrapper span12">

                            <!-- start: Page Title -->
            <div id="page-title">

                <div id="page-title-inner">

                    <h2><span>Projects</span></h2>

                </div>

            </div>
            <!-- end: Page Title -->

            <!-- start: Flexslider -->
            <div class="slider">
                <div id="flex1" class="flexslider">
                    <ul class="slides">

                        <li><div class="picture"><img src="{{ get_asset('img/slider/slider1.jpg') }}" alt="" />
                            <div class="slide-caption"><h3>Personality Determination</h3></div>
                        </div></li>

                        <li><div class="picture"><img src="{{ get_asset('img/slider/slider2.jpg') }}" alt="" /><div class="slide-caption"><h3>Fashion for Engineers</h3></div></div></li>

                        <li><div class="picture"><img src="{{ get_asset('img/slider/slider3.jpg') }}" alt="" /><div class="slide-caption"><h3>Resume Generator</h3></div></div></li>

                    </ul>
                </div>
            </div>
            <!-- end: Flexslider -->
<!--
            <div id="filters">
                <ul class="option-set" data-option-key="filter">
                    <li><a href="#filter" class="selected" data-option-value="*">All</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".admin">Admin</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".dashboard">Dashboard</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".website">Website</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".html5">HTML5</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".css3">CSS3</a></li>
                    <li>/</li>
                    <li><a href="#filter" data-option-value=".responsive">Responsive</a></li>
                </ul>
            </div> -->

            <!-- start: Portfolio -->
 <!--            <div id="portfolio-wrapper" class="row-fluid">

                <div class="span4 portfolio-item website html5 css3 responsive">

                    <div class="picture"><a href="http://smart.bootstrapmaster.com" title="Smart Responsive Template"><img src="{{ get_asset('img/portfolio/smart.png') }}" alt=""/><div class="image-overlay-link"></div></a>

                        <div class="item-description alt">
                            <h5><a href="http://smart.bootstrapmaster.com">Smart Responsive Bootstrap Template</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="span4 portfolio-item website html5 css3 responsive">
                    <div class="picture">
                        <a href="http://acme.bootstrapmaster.com" title="Title"><img src="{{ get_asset('img/portfolio/great.png') }}" alt=""/><div class="image-overlay-link"></div></a>
                            <div class="item-description alt">
                                <h5><a href="http://acme.bootstrapmaster.com">Great Responsive Bootstrap Template</a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="span4 portfolio-item website html5 css3 responsive">
                    <div class="picture"><a href="http://magnus.bootstrapmaster.com" title="Title"><img src="{{ get_asset('img/portfolio/magnus.png') }}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="http://magnus.bootstrapmaster.com">Magnus Responsive Bootstrap Template</a></h5>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="span4 portfolio-item admin dashboard html5 css3 responsive">
                    <div class="picture"><a href="http://optimus.bootstrapmaster.com" title="Title"><img src="{{ get_asset('img/portfolio/optimus.png') }}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="http://optimus.bootstrapmaster.com">Optimus Dashboard Bootstrap Template</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="span4 portfolio-item admin dashboard html5 css3 responsive">
                    <div class="picture"><a href="http://perfectum.bootstrapmaster.com" title="Title"><img src="{{ get_asset('img/portfolio/perfectum.png') }}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="http://perfectum.bootstrapmaster.com">Perfectum Dashboard Bootstrap Template</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="span4 portfolio-item website html5 css3 responsive">
                    <div class="picture"><a href="http://redbox.bootstrapmaster.com"><img src="{{ get_asset('img/portfolio/redbox.png') }}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="http://redbox.bootstrapmaster.com">Red Box Responsive Bootstrap Template</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

            </div> -->
            <!-- end: Portfolio -->
            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>
    <!-- end: 4th Page - Portfolio -->

    <!-- start: 5th Page - About -->
    <div id="about" class="color yellow">

        <!--start: Container -->
        <div class="container">

            <!--start: Wrapper -->
            <div class="wrapper span12">

                            <!-- start: Page Title -->
            <div id="page-title">

                <div id="page-title-inner">

                        <h2><span>About Us</span></h2>

                </div>

            </div>
            <!-- end: Page Title -->

            <!--start: Row -->
            <div class="row-fluid">

                <div class="span12">

                    <!-- start: About Us -->
                    <div id="story">
                        <h3>Our Story</h3>
                        <p>
                            Small dreams, big smile.
                        </p>

                    </div>
                    <!-- end: About Us -->

                    <!-- start: History -->
                    <div id="history">
                        <h3>History</h3>
                        <p>
                            <!-- <span class="dropcap color">&nbsp;</span>  -->Formed in 2013.
                        </p>

                    </div>
                    <!-- end: History -->

                </div>

            </div>
            <!--end: Row -->

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span12">

                    <!-- start: Skills -->
                    <!-- <h3>Our Skills</h3>
                    <ul class="progress-bar">
                        <li>
                            <h5>Web Design ( 40% )</h5>
                        </li>
                        <li>
                            <div class="meter"><span style="width: 40%"></span></div><!-- Edit width here --
                        </li>
                        <li>
                            <h5>Wordpress ( 80% )</h5>
                        </li>
                        <li>
                            <div class="meter"><span style="width: 80%"></span></div><!-- Edite width here ->
                        </li>
                        <li>
                            <h5>Branding ( 100% )</h5>
                        </li>
                        <li>
                            <div class="meter"><span style="width: 100%"></span></div><!-- Edite width here ->
                        </li>
                        <li>
                            <h5>SEO Optmization ( 60% )</h5>
                        </li>
                        <li>
                            <div class="meter"><span style="width: 60%"></span></div><!-- Edite width here --
                        </li>
                    </ul> -->
                    <!-- end: Skills -->

                </div>

            </div>
            <!--end: Row -->
            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>
    <!-- end: 5th Page - About -->

    <!-- start: 6th Page - Team -->
    <div id="team" class="color white">

        <!--start: Container -->
        <div class="container">

            <!--start: Wrapper -->
            <div class="wrapper span12">

                <!-- start: Page Title -->
<div id="page-title">

    <div id="page-title-inner">

            <h2><span>Team</span></h2>

    </div>

</div>
<!-- end: Page Title -->

<!-- start: Row -->
<div class="row-fluid">

    <div class ="span12">

        <!-- start: Team -->
        <div id="team">

            <!-- start: Row -->
            <div class="row-fluid">

                <!-- start: About Member -->
                <div class="span3">
                    <div class="avatar">
                        <img class="img-circle" src="https://1.gravatar.com/avatar/0c64f5404b8787a038e8f6fa9522224d?d=https%3A%2F%2Fidenticons.github.com%2F1094eec2b2dc5de0c6c272a2b9a6b15d.png&s=420" alt="team member">
                    </div>
                    <div class="team-name">Kat Chuang</div>
                    <div class="position">Co-Founder, CEO</div>
                    <p>
                        Exploring the world outside the ivory tower.
                    </p>
                    <div class="social_profiles">
                        <ul class="social-bookmarks">
                            <li class="facebook"><a href="">facebook</a></li>
                            <li class="flickr"><a href="http://flickr.com/photos/katychuang">flickr</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/in/katychuang">linkedin</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/katychuang">twitter</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end: About Member -->

                <hr class="clean visible-phone">

                <!-- start: About Member -->
                <div class="span3">
                    <div class="avatar">
                        <img class="img-circle" src="https://0.gravatar.com/avatar/90aba54969cb9339072c605f25627a6d?d=https%3A%2F%2Fidenticons.github.com%2F54d1546c4ce96ea3b3f17719ec8f222b.png&s=420" alt="team member">
                    </div>
                    <div class="team-name">John Cadengo</div>
                    <div class="position">Co-Founder, COO</div>
                    <p>
                        Write code, tell stories.<br />&nbsp;
                    </p>
                    <div class="social_profiles">
                        <ul class="social-bookmarks">
                            <li class="facebook"><a href="">facebook</a></li>
                            <li class="flickr"><a href="">flickr</a></li>
                            <li class="linkedin"><a href="#">linkedin</a></li>
                            <li class="twitter"><a href="#">twitter</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end: About Member -->

                <hr class="clean visible-phone">

                <!-- start: About Member -->
                <div class="span3">
                    <div class="avatar">
                        <img class="img-circle" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/543195_10150866780191744_709713733_n.jpg" alt="team member">
                    </div>
                    <div class="team-name">Yeshwanth Yk</div>
                    <div class="position">Co-Founder, CTO</div>
                    <p>
                        In search of the one obvious way. &nbsp;
                    </p>
                    <div class="social_profiles">
                        <ul class="social-bookmarks">
                            <li class="facebook"><a href="http://me.kyendamuri.com/">blog</a></li>
                            <li class="flickr"><a href="https://github.com/Yeshwanthyk">github</a></li>
                            <li class="linkedin"><a href="#">linkedin</a></li>
                            <li class="twitter"><a href="https://twitter.com/yesh">twitter</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end: About Member -->

                <hr class="clean visible-phone">

                <!-- start: About Member -->
                <div class="span3">
                    <!-- <div class="avatar">
                        <img class="img-circle" src="" alt="team member">
                    </div>
                    <div class="team-name">?</div>
                    <div class="position">?</div>
                    <p>
                        &nbsp;
                    </p>
                    <div class="social_profiles">
                        <ul class="social-bookmarks">
                            <li class="facebook"><a href="">facebook</a></li>
                            <li class="flickr"><a href="">flickr</a></li>
                            <li class="linkedin"><a href="#">linkedin</a></li>
                            <li class="twitter"><a href="#">twitter</a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- end: About Member -->

                <hr class="clean visible-phone">

            </div>
            <!-- end: Row -->

        </div>
        <!-- end: Team -->

    </div>

</div>
<!-- end: Row -->
            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>
    <!-- end: 6th Page - Team -->

    <!-- start: 7th Page - Contact -->
    <div id="mapBg"></div>
    <div id="contact" class="color blue transparent">

        <!--start: Container -->
        <div class="container">

            <!--start: Wrapper -->
            <div class="wrapper span12">



            <!-- start: Page Title -->
            <div id="page-title">

                <div id="page-title-inner">

                        <h2><span>NYC</span></h2>

                </div>

            </div>
            <!-- end: Page Title -->

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span12">

                    <!-- start: Contact Info -->
                    <!-- Submit form to contact <b>DreamsOfPy</b>  --><!-- •
                    Address •
                    New York, CA zip, USA •
                    Email: @ •
                    Web: dreamsofpy.github.io -->
                    <!-- end: Contact Info -->

                </div>

            </div>
            <!-- end: Row -->

            <hr class="clean">

            <!-- start: Row -->
            <div class="row-fluid">

                <!-- start: Map -->
                <div class="span6">

                    <!-- start: Contact Form -->
                    <div id="contact-form">
                        <!-- form method="post" action="">

                            <fieldset>

                                <input tabindex="4" id="name" name="name" type="text" value="" class="span12" placeholder="Name: ..." >
                                <input tabindex="2" id="email" name="email" type="text" value="" class="span12" placeholder="Email: ...">
                                <input tabindex="3" id="www" name="www" type="text" value="" class="span12" placeholder="WWW: ...">
                                <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="7" placeholder="Message: ..."></textarea>

                                <div class="actions">
                                    <button tabindex="3" type="submit" class="btn btn-succes btn-large">Send message</button>
                                </div>

                            </fieldset>

                        </form> -->

                    </div>
                    <!-- end: Contact Form -->


                </div>
                <!-- end: Map -->

                <div class="span6">

                    <!-- starts: Google Maps -->
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                    <div id="googlemaps">
                        <div id="map" class="google-map google-map-full"></div>
                    </div>
                    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
                    <script src="{{ get_asset('js/jquery.gmap.min.js') }}"></script>
                    <script type="text/javascript">
                        $('#map').gMap({
                            controls: {
                                panControl: false,
                                zoomControl: false,
                                mapTypeControl: false,
                                scaleControl: false,
                                streetViewControl: false,
                                overviewMapControl: false
                            },
                            maptype: 'ROADMAP',
                            scrollwheel: true,
                            zoom: 13,
                            markers: [
                                {
                                    address: 'New York, United States', // Your Adress Here
                                    html: '',
                                    popup: false,
                                }

                            ],

                        });

                        $('#mapBg').gMap({
                            controls: {
                                panControl: false,
                                zoomControl: false,
                                mapTypeControl: false,
                                scaleControl: false,
                                streetViewControl: false,
                                overviewMapControl: false
                            },
                            maptype: 'ROADMAP',
                            scrollwheel: true,
                            zoom: 13,
                            markers: [
                                {
                                    address: 'New York, United States', // Your Adress Here
                                    html: '',
                                    popup: false,
                                }

                            ],

                        });

                    </script>
                    <!-- end: Google Maps -->

                </div>

            </div>
            <!-- end: Row -->

            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>
    <!-- end: 7th Page - Contact -->


    {% include 'page.footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>
